<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.whl.rpc.app_server"/>

    <context:property-placeholder location="classpath:rpc.properties"/>
    
    <!-- 配置zookeeper的注册地址 -->
    <bean id="serviceRegistry" class="com.whl.rpc.registry.ServiceRegistry">
        <constructor-arg name="registryAddress" value="${registry.address}"/>
    </bean>
	
	<!-- 
	配置服务提供者的地址 
	这个类是此业务的核心，里面实现了ApplicationContextAware, InitializingBean接口，里面处理丰富的业务逻辑
	-->
    <bean id="rpcServer" class="com.whl.rpc.server.RpcServer">
        <constructor-arg name="serverAddress" value="${server.address}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>